__pycache__/
.AppleDouble
.beet_cache/
.claude/
.DS_Store
.env
.idea/
.ipynb_checkpoints
.LSOverride
.mypy_cache/
.pdm-build/
.pdm-python
.pdm.toml
.ruff_cache/
.venv
*.egg
*.egg-info/
*.mo
*.py[cod]
*.swp
*~
*$py.class
build/
coverage.html
coverage.lcov
dist/
docs/_build/
docs/_locales/**/LC_MESSAGES/gettext/
locales/
env.bak/
env/
ENV/
poetry.lock
release/
venv.bak/
venv/
