{% include 'bookshelf/header.jinja' %}
# Return early if no loading errors are found
execute unless data storage bs:data load.errors run return 0

# Retry sending error messages if no players are present
execute unless entity @p run return run schedule function bs.load:validate 5t

# Display error messages for major and minor version conflicts
tellraw @a [{text:"\n⚠ ",color:"#E84635","underlined":true},{text:"BOOKSHELF",bold:true},{text:" • Version Conflict Detected\n"}]
execute if data storage bs:data load.errors[{major:1b}] run tellraw @a [{text:"◇ Major Conflict: ",color:"#F3B512"},{"type":"nbt","storage":"bs:data","nbt":"load.errors[{major:1b}].message","color":"#CCCCCC","interpret":true}]
execute if data storage bs:data load.errors[{major:0b}] run tellraw @a [{text:"◇ Minor/Patch Conflict: ",color:"#F3B512"},{"type":"nbt","storage":"bs:data","nbt":"load.errors[{major:0b}].message","color":"#CCCCCC","interpret":true}]

# Provide resolution steps for minor version errors, or explain that there are no resolution steps for major errors
execute unless data storage bs:data load.errors[{major:1b}] run tellraw @a [{text:"\nℹ Download and place this ",color:"#43A8EC","italic":true},{type:"nbt","storage":"bs:data","nbt":"load.bundle.message","color":"#26BD26","interpret":true}," at the end of your datapack list.\n"]
execute if data storage bs:data load.errors[{major:1b}] run tellraw @a [{text:"\n❌ Cannot be resolved. Please use the same major version across all datapacks or use them at your own risk.\n","color":"#E84635","italic":true}]

return fail
