html {
  --pst-sidebar-font-size: .95rem;
  --pst-sidebar-secondary: 18rem;
}

html[data-theme="light"] {
  --pst-color-primary: #538fef;
  --pst-color-secondary: #f76e13;
  --pst-color-accent: #ff8000;
  --sd-color-card-border-hover: var(--pst-color-primary);
  --pst-color-primary-highlight: var(--pst-color-secondary);
  --scrollbar-thumb-bg: #00000019;
  --scrollbar-thumb-bg-hover: #00000026;
  --scrollbar-thumb-bg-active: #0000002b;
  --pst-color-on-background: #f9f9f9;
  --bs-border-color: #dee2e699;
  --pst-color-table-row-hover-bg: #538fef55;
  --pst-color-background: #f3f4f5;
  --pst-color-surface: #fefefe;
  --pst-color-on-background: #f9f9f9;
  --pst-color-table-outer-border: #77777722;
}

html[data-theme="light"] .highlight .c1 {
  color: #c5c4b8;
}

html[data-theme="dark"] {
  --pst-color-primary: #79a3f2;
  --pst-color-secondary: #ec8423;
  --pst-color-accent: #ff8000;
  --pst-color-primary-highlight: var(--pst-color-secondary);
  --sd-color-primary: #3b6bc4;
  --pst-color-secondary-text: #fff;
  --sd-color-primary-text: #fff;
  --sd-color-card-border-hover: var(--pst-color-primary);
  --pst-color-info-bg: #324f84;
  --pst-color-warning-bg: #894c21;
  --pst-color-success-bg: #064224;
  --pst-color-danger-bg: #6d0c0c;
  --scrollbar-thumb-bg: #ffffff19;
  --scrollbar-thumb-bg-hover: #ffffff26;
  --scrollbar-thumb-bg-active: #ffffff2b;
  --bs-border-color: #dee2e611;
  --pst-color-table-row-hover-bg: #79a3f266;
  --pst-color-table-outer-border: #79a3f244;
}


html[data-theme=dark] .bd-content .sd-tab-set .sd-tab-content, html[data-theme=dark] .bd-content .sd-tab-set>label {
  background-color: #191d25;
}


div.highlight pre::before {
  content: "";
  width: 1.5rem;
  height: calc(100% - 1.5rem);
  position: absolute;
  right: 1px;
  top: .5rem;
  background: linear-gradient(to right, #00000000, var(--pst-color-surface) 80%, var(--pst-color-surface) 20%);
}

.bd-content .sd-tab-set>input:checked+label {
  border-color: var(--pst-color-table-row-hover-bg);
}

.bd-content .sd-tab-set .sd-tab-content {
  border: .125rem solid var(--pst-color-table-row-hover-bg);
  border-radius: 0 6px 6px 6px;
}

html[data-theme="dark"] .highlight .c1 {
  color: #8f8f8f;
}

html[data-theme="dark"] .highlight .nb {
  color: #cf67ff;
}

html[data-theme="dark"] .highlight .vm {
  color: #fac55c;
}

html[data-theme="dark"] .highlight .na {
  color: #ffa07a;
}

html[data-theme="dark"] .highlight .kc {
  color: #c2c0cb;
}

html[data-theme="dark"] .highlight .nf {
  color: #4FAAEF;
}

html[data-theme="dark"] .highlight .s2 {
  color: #7BC379;
}

html[data-theme="dark"] .highlight .nv {
  color: #fac55c;
}

html[data-theme="dark"] .highlight .mf {
  color: #e99e3e;
}

html[data-theme="dark"] .highlight .nt {
  color: #ffd756;
}

html[data-theme="dark"] .highlight .o {
  color: #e99e3e;
}

html[data-theme="dark"] .highlight .mi {
  color: #ffd756;
}

html[data-theme="dark"] .highlight .m {
  color: #ffd756;
}

html[data-theme="dark"] .highlight .l {
  color: #9468a9;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-bg-hover);
}

*::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-thumb-bg-active);
}

hr {
  border-top: 1px solid #888;
}

dl[class]:not(.option-list,.field-list,.footnote,.glossary,.simple) dt.field-even, dl[class]:not(.option-list,.field-list,.footnote,.glossary,.simple) dt.field-odd {
  border: 1px solid #88888822;
  border-radius: 6px;
}
.bd-content .sd-tab-set>label {
  border-radius: 6px 6px 0 0!important;
}

.bd-header ul.navbar-nav li a.nav-link.dropdown-item:hover {
  text-decoration: none;
}

nav.bd-links li>a,.toc-entry a.nav-link {
  display: inline-block;
}

.toc-entry a.nav-link {
  margin-top: .5rem!important;
  padding: 0 .65rem;
  margin-left: 0;
}
.toc-entry a.nav-link:hover {
  text-decoration: none;
  outline: 1px solid #88888822;
  background: var(--pst-color-on-background);
  border-radius: 5px;
}
.toc-entry a.nav-link.active:hover {
  border-radius: 0 5px 5px 0!important;
}

.bd-header ul.navbar-nav>li.nav-item>.nav-link:hover:before {
  border-bottom: none;
}
.bd-header ul.navbar-nav>li.nav-item.current>.nav-link:before {
  border-bottom: 3px solid var(--pst-color-primary);
}

.bd-header ul.navbar-nav>li.nav-item>.nav-link:hover,
nav.bd-links li>a:active, nav.bd-links li>a:hover {
  border-radius: 5px;
  outline: 1px solid #88888822;
  background: var(--pst-color-surface);
  color: var(--pst-color-secondary);
}
nav.bd-links li>a {
  padding: .15rem .85rem .15rem .5rem;
  margin: .1rem 0;
}

nav.bd-links li>a:active, nav.bd-links li>a:hover {
  background: var(--pst-color-on-background);
  text-decoration: none;
}
nav.bd-links .current>a {
  border-radius: 0 5px 5px 0!important;
}


html .pst-navbar-icon:hover:before {
  border-bottom: none;
}

.version-switcher__menu a.list-group-item:hover {
  text-decoration: none;
}

.bd-content .sd-tab-set>input:not(:checked,:focus-visible)+label:hover {
  text-decoration: none;
}

button.btn.version-switcher__button:hover {
  box-shadow: 0 0 0 .0875rem var(--pst-color-secondary);
}

.bd-header ul.navbar-nav>li.nav-item.dropdown>.dropdown-toggle:hover {
  box-shadow: 0 0 0 .0875rem var(--pst-color-link-hover);
}

abbr[title] {
  text-decoration: none;
  border-bottom: none;
}

.bd-content .sd-tab-set>label {
  border-top: none;
}

.function > dd {
  margin-left: 0!important;
}

.function dl.field-list > dd p {
  text-indent: -1rem;
}

.function dl.field-list p {
  margin: 6px 0;
  line-height: 1.4;
}

.bs-rounded {
  border-radius: 50%;
}
tr.row-odd {
  background: #6b7d9909;
}
button.btn.version-switcher__button {
  margin-bottom: unset;
}
.bd-header .navbar-nav li a.nav-link {
  text-align: center;
  padding-inline: 6px 12px!important;
}
.bd-header ul.navbar-nav .dropdown .dropdown-menu .dropdown-item {
  padding-inline: 1.5rem !important;
}

.bd-sidebar-primary .sidebar-header-items {
  row-gap: 2rem;
}
.bd-sidebar-primary .sidebar-primary-items__start {
  padding-top: 1rem;
}
button.btn.version-switcher__button {
  max-width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media (min-width: 960px) {
  .bd-page-width {
    max-width: 90rem;
  }
  .bd-sidebar-primary .sidebar-primary-items__start {
    padding-top: 0;
  }
}

@media (min-width: 1200px) {
  .bd-main .bd-content .bd-article-container .bd-article {
      padding-left: 1.75rem;
  }
  .col-lg-3 {
    width: 20%;
  }
  .bd-sidebar-primary {
    width: 20%;
  }
}
