@font-face {
  font-family: Nunito;
  src: url("fonts/nunito.woff2");
}

@font-face {
  font-family: Itim;
  src: url("fonts/itim.ttf");
}

@font-face {
  font-family: TossFace;
  src: url("fonts/tossface.otf");
}

html {
  --bz-font-sans: "Nunito", "TossFace";
  --bz-header-brand-font-family: "Itim";
  --bz-header-brand-color: var(--bz-color-muted);
  --bz-header-brand-color-hover: var(--bz-color-gray-5);
}

li div:where([class*=highlight-]:last-child,.literal-block-wrapper:last-child) {
  margin-bottom: 1rem;
}

.bz-footer > * {
  flex-grow: 1;
}

.bz-footer > :last-child {
  justify-content: right;
}

.bs-footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: var(--bz-size-sm);
  column-gap: 1rem;
  row-gap: 0.5rem;
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
}

.bz-header-brand {
  img {
    transform: scale(0.75);
    transition: transform ease-in-out .3s;
  }

  &:hover img {
    transform: rotate(180deg);
  }
}

.bz-emoji {
  filter: hue-rotate(-16deg);
  margin-left: 0;
  margin-right: 3px;
}
